<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
You are admin
<form method="get" action="/admin">
    <input type="submit" value="back">
</form><br>

<br>
<table>
    <tr>
        <th>
            <span th:text="'name '"></span>
            <a th:href="@{'/admin/activities/?show=' + ${shouldShowTags} + '&sortBy=name&orderBy=asc'}" th:text="'↑'"/>
            <a th:href="@{'/admin/activities/?show=' + ${shouldShowTags} + '&sortBy=name&orderBy=desc'}" th:text="'↓'"/>
        </th>
        <th>
            <span th:text="'duration '"></span>
            <a th:href="@{'/admin/activities/?show=' + ${shouldShowTags} + '&sortBy=duration&orderBy=asc'}" th:text="'↑'"/>
            <a th:href="@{'/admin/activities/?show=' + ${shouldShowTags} + '&sortBy=duration&orderBy=desc'}" th:text="'↓'"/>
        </th>
        <th>
            <span th:text="'reward '"></span>
            <a th:href="@{'/admin/activities/?show=' + ${shouldShowTags} + '&sortBy=reward&orderBy=asc'}" th:text="'↑'"/>
            <a th:href="@{'/admin/activities/?show=' + ${shouldShowTags} + '&sortBy=reward&orderBy=desc'}" th:text="'↓'"/>
        </th>
        <th>
            <span th:text="'taken by amount '"></span>
            <a th:href="@{'/admin/activities/?show=' + ${shouldShowTags} + '&sortBy=takes&orderBy=asc'}" th:text="'↑'"/>
            <a th:href="@{'/admin/activities/?show=' + ${shouldShowTags} + '&sortBy=takes&orderBy=desc'}" th:text="'↓'"/>
        </th>
        <th>
            <span th:text="'requested times '"></span>
            <a th:href="@{'/admin/activities/?show=' + ${shouldShowTags} + '&sortBy=requests&orderBy=asc'}" th:text="'↑'"/>
            <a th:href="@{'/admin/activities/?show=' + ${shouldShowTags} + '&sortBy=requests&orderBy=desc'}" th:text="'↓'"/>
        </th>
        <th>
            <div th:if="${shouldShowTags}">
            <a href="/admin/activities?show=false" th:text="'hide tags'"></a>
        </div>
            <div th:if="${!shouldShowTags}">
                <a href="/admin/activities?show=true" th:text="'show tags'"></a>
            </div>
        </th>
    </tr>
    <tr th:each="activity: ${activities}">
        <td th:text="${activity.name}"></td>
        <td th:text="${activity.duration}"></td>
        <td th:text="${activity.reward}"></td>
        <td th:text="${activity.takenBy}"></td>
        <td th:text="${activity.requestedTimes}"></td>
        <td>
            <div th:if="${shouldShowTags}">
                <span th:text="${activity.description}"></span>
            </div>
        </td>
        <td>
            <a th:href="@{'/admin/activities/deleteActivity?activityId=' + ${activity.id}}" th:text="delete" ></a>
        </td>
    </tr>
</table><br>


<br>
<hr>
<form th:action="@{'admin/activities/addActivity'}" method="post">
    <label for="name" th:text="'Enter name for activity || cyricls only'"/>
    <input id="name" type="text" name="name"><br>

    <label for="duration" th:text="'Enter duration || decimal [hours-days]'"/>
    <input id="duration" type="text" name="duration"><br>

    <label for="reward" th:text="'Enter reward || decimal'"/>
    <input id="reward" type="text" name="reward"><br>

    <label for="description" th:text="'Ented description || cyrilics, tags should be separated with |,|'"/>
    <input id="description" type="text" name="description"><br>
    <input type="submit" value="submit"/>
</form>
<br>
<div th:if="${invalidData}"><hr>
    <span th:text="'Invalid value(s), please read carefully!'"></span>
</div>

</body>
</html>