<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>Admin main page</title>

</head>
<body>
<hr>
<form method="post" action="/logout">
    <input type="submit" value="Log Out">
</form>
<hr>
Logged in as admin
<form method="get" action="/admin/profile">
    <input type="submit" value="profile">
</form>
<hr>
<form method="get" action="/admin/activities">
    <input type="submit" value="activities">
</form>
<table>
    <tr>
        <th>***</th>
        <th>name</th>
        <th>email</th>
        <th>status</th>
        <th>activities amount</th>
        <th>requests amount</th>
        <th>total points</th>
    </tr>
    <tr th:each="user: ${users}">
        <td> /*\</td>
        <td>
            <div th:if="${user.role != 'admin'}">
                <a th:href="@{'/admin/usersStats?userId=' + ${user.id}}" th:text="${user.name}"></a>
            </div>
        </td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.status}"></td>
        <td th:text="${user.activitiesAmount}"></td>
        <td th:text="${user.requestsAmount}"></td>

        <td th:text="${user.totalPoints}"></td>
        <div th:if="${user.role != 'admin'}">
            <div th:if="${user.status == 'blocked'}">
                <td>
                    <a th:href="@{'/admin/banUser?shouldBan=false&userId=' + ${user.id}}" th:text="'unblock?'"></a>
                </td>
            </div>
            <div th:if="${user.status != 'blocked'}">
                <td>
                    <a th:href="@{'/admin/banUser?shouldBan=true&userId=' + ${user.id}}" th:text="'block?'"></a>
                </td>
            </div>

        </div>
    </tr>
</table>
</body>
</html>
