<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<hr>
<form method="post" action="/logout">
    <input type="submit" value="Log Out">
</form>
<hr>
Logged in as admin
<form method="get" action="/admin/profile">
    <input type="submit" value="profile">
</form>
<hr>
<form method="get" action="/admin/activities">
    <input type="submit" value="activities">
</form>
<table>
    <tr>
        <th>name</th>
        <th>email</th>
        <th>status</th>
        <th>activities amount</th>
        <th>requests amount</th>
        <th>total points</th>
    </tr>

    <tr th:each="user: ${users}">
        <td th:text="${user.name}"> </td>
        <td th:text="${user.email}"> </td>
        <td th:text="${user.status}"> </td>
        <td th:text="${user.activitiesAmount}"> </td>
        <td th:text="${user.requestsAmount}"> </td>
        <td th:text="${user.totalPoints}"> </td>
        <td> <a href="admin/banUser?userId=${user.id}" th:text="block" > </a></td>
    </tr>
</table>
</body>
</html>
