<!DOCTYPE html>
<html lang="en" >
<head xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>Users activities</title>
</head>
<body>
<form method="get" action="/admin">
    <input type="submit" value="back">
</form>
<hr>

    <span th:text="'User ' + ${user.name} + ', id = ' + ${user.id} +  ', has ' + ${user.activitiesAmount} + ' activities done and ' + ${user.totalPoints} + ' points earned'" ></span>
<div th:if="${hasActivities}">
    <table>
        <tr>
            <th>name</th>
            <td>status</td>
            <th>duration</th>
            <th>reward</th>
            <th>time spent</th>
            <th> ||| </th>
        </tr>
        <tr th:each="activity: ${usersActivities}">
            <td th:text="${activity.name}"> </td>
            <td th:text="${activity.status}"></td>
            <td th:text="${activity.duration}"> </td>
            <td th:text="${activity.reward}"> </td>
            <td>
                <div th:if="${activity.status == 'inProcess'}">
                    <span th:text="${activity.timeSpent}"></span>
                </div>
                <div th:if="${activity.status != 'inProcess'}">
                    <span th:text="0"></span>
                </div>
            </td>

            <td>
                <div th:if="${activity.status == 'requested'}">
                    <a th:href="@{'/admin/usersStats/denyOrApproveActivity?approve=true&activityId=' + ${activity.id} + '&userId=' + ${user.id}}" th:text="'approve'"></a>
                </div>
            </td>
            <td>
                <div th:if="${activity.status == 'requested'}">
                    <a th:href="@{'/admin/usersStats/denyOrApproveActivity?approve=false&activityId=' + ${activity.id} + '&userId=' + ${user.id}}" th:text="'deny'"></a>
                </div>
            </td>
        </tr>
    </table>
</div>
<div th:if="${!hasActivities}">
    <span style="color: blueviolet" th:text="'User has no activities'"/>
</div>
<hr>
</body>
</html>