<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
It's your profile <br>
<form method="post" action="/logout">
    <input type="submit" value="Log Out">
</form>
<form method="get" action="/user?show=false">
    <input type="submit" value="back">
</form>
<hr>
<table>
    <tr>
        <th>name</th>
        <th>duration</th>
        <th>reward</th>
        <th>time spent</th>
        <th>completed?</th>
    </tr>
    <tr th:each="activity: ${usersActivities}">
        <td th:text="${activity.name}"> </td>
        <td th:text="${activity.duration}"> </td>
        <td th:text="${activity.reward}"> </td>
        <td>
            <div th:if="${activity.status == 'inProcess'}">
                <span th:text="${activity.timeSpent}"></span>
            </div>
            <div th:if="${activity.status != 'inProcess'}">
                <span th:text="0"></span>
            </div>
        </td>
        <td> <a th:href="@{'/user/userProfile/completedActivity?activityId=' + ${activity.id}}" th:text="submit"></a> </td>
    </tr>
</table>
</body>
</html>
