<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users profile</title>
    <link rel="stylesheet" th:href="@{'/style.css'}"/>
</head>
<body>
<form method="post" action="/logout">
    <input type="submit" value="Log Out">
</form><hr>
<span style="color:darkgreen"  th:text="'Welcome, ' + ${user.name} + ', it\'s your profile'" ></span><br>
<span style="color: darkviolet" th:text="'Currently you have ' + ${user.activitiesAmount} + ' activities done and ' + ${user.requestsAmount} + ' requests'"></span><br>
<span style="color: darkmagenta" th:text="'You have earned ' + ${user.totalPoints} + ' points'"></span><br>
<hr>

<form th:method="GET" th:action="@{'/user'}">
    <input type="submit" value="back">
</form>
<div th:if="${hasActivities}">
<hr>
<table>
    <tr>
        <th>name</th>
        <td>status</td>
        <th>duration</th>
        <th>reward</th>
        <th>time spent</th>
        <th>completed?</th>
    </tr>
    <tr th:each="activity: ${usersActivities}">
        <td th:text="${activity.name}"> </td>
        <td th:text="${activity.status}"></td>
        <td th:text="${activity.duration}"> </td>
        <td th:text="${activity.reward}"> </td>
        <td>
            <div th:if="${activity.status == 'inProcess'}">
                <span th:text="${activity.timeSpent}"></span>
            </div>
            <div th:if="${activity.status != 'inProcess'}">
                <span th:text="0"></span>
            </div>
        </td>
        <td>
            <div th:if="${activity.status == 'inProcess'}">
            <a th:href="@{'/user/profile/completedActivity?activityId=' + ${activity.id}}" th:text="'submit'"></a>
            </div>
        </td>
        <td>
            <div th:if="${activity.status == 'inProcess'}">
                <a th:href="@{'/user/profile/gaveUpActivity?activityId=' + ${activity.id}}" th:text="'give up'"></a>
            </div>
        </td>
    </tr>
</table>
</div>
<div th:if="${!hasActivities}">
    <span style="color: chocolate" th:text="'You have no activities!'"/> <br>
</div>

<hr>

<div th:if="${user.emailEmpty}">
    <form action="/user/profile/addEmail" method = "post">
        <label for="emailField" th:text="'Add your email'"></label>
        <input type="text" name="value" id="emailField"/>
        <input type="hidden" name="userId" th:value="${user.id}">
        <input type="submit" value="Add email"/>
    </form>
    <div th:if="${!emailValid}">
        <span th:text="'Invalid email format!'"/>
    </div>
</div>
</body>
</html>
