<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Logged in as user
<table>
    <tr>
    <th>name</th>
    <th>email</th>
    <th>status</th>
    <th>activities amount</th>
    <th>requests amount</th>
    <th>total points</th>
    </tr>
    <tr>
    <td>namasde</td>
    <td>emaasdil</td>
    <td>statuadsss</td>
    <td>activiasdties amount</td>
    <td>requestsasd amount</td>
    <td>total pasdoints</td>
    </tr>
</table>
</body>
</html>