<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<hr>
Login form
<form action="/" method="get">
    <input type="submit" value="back"/>
</form>
<hr>
<form th:method="POST" th:action="@{/login}" th:object="${userForm}">

        <label for="login">Enter login(name)</label>
        <input type="text" th:field="*{username}" id="login"/> <br>

        <label for="pass">Enter password</label>
        <input type="password" th:field="*{password}" id="pass"/> <br>
        <hr>
        <input type="submit" value="Submit"/>
</form>

<div th:if="${userIsBlocked}">
    <span style="color:red" th:text="'you are banned by admin!'"></span>
</div>

<div th:if="${logErrorNoSuchUserFound}">
    <p th:text="'no user with such creditials found'"></p>
</div>

</body>
</html>