<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Registration form
<form action="/registration" method="post" >

    <label for="name">Enter name</label>
    <input name="name" id="name"/> <br>

    <label for="password">Enter password</label>
    <input type="password" name="password" id="password"/> <br>

    <label for="email">Enter email, optional </label>
    <input type="text" name="email" id="email"/>
    <hr>
    <input type="submit" value="Submit"/>
</form>
<hr>
<div th:if="${regErrorInputNotValid}">
    <p th:text="'wrong input reg not valid'"></p>
</div>
<div th:if="${regErrorUserExists}">
    <p th:text="'user with such name exists!'"></p>
</div>
</body>
</html>