<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title th:text="#{lang.registrationPage}"></title>
</head>
<body>
<p th:text="#{lang.registrationForm}">
<form action="/" method="get">
    <input type="submit" th:value="#{lang.back}"/>
</form>
<hr>
<form method="post" action="/registration" >

    <label for="login" th:text="#{lang.enter.login}" > </label>
    <input type="text" id="login" name="login"/> <br>

    <label for="pass" th:text="#{lang.enter.password}"> </label>
    <input type="password"  id="pass" name="password"/> <br>

    <label for="email" th:text="#{lang.enter.email}"> </label>
    <input type="text" id="email" name="email"/> <br>
    <hr>
    <input type="submit" th:value="#{lang.submit}"/>
</form>
<br>
<div th:if="${regErrorUserExists}">
    <p th:text="#{lang.user.exists}"></p>
</div>
<div th:if="${regErrorInvalidInput}">
<p style="color:red" th:text="#{lang.invalidData}"></p>
</div>

<p th:text="#{lang.account.exists}"></p><br>
<a href="/login" th:text="#{lang.login}"></a>
</body>
</html>