<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
Registration form
<form action="/" method="get">
    <input type="submit" value="back"/>
</form>
<hr>
<form method="post" action="/registration" >

    <label for="login">Enter login(name)</label>
    <input type="text" id="login" name="login"/> <br>

    <label for="pass">Enter password</label>
    <input type="password"  id="pass" name="password"/> <br>

    <label for="email">Enter email, optional </label>
    <input type="text" id="email" name="email"/> <br>
    <hr>
    <input type="submit" value="Submit"/>
</form>
<br>
<div th:if="${regErrorUserExists}">
    <p th:text="'user with such name exists!'"></p>
</div>
<div th:if="${regErrorInvalidInput}">
<p style="color:red" th:text="'Invalid data'"></p>
</div>

<p th:text="'already have an account?'"></p><br>
GO to login <a href="/login?error=false" th:text="login"></a>
</body>
</html>